.instagramtext{
  font-family: 'Grand Hotel', cursive;
    font-size: x-large;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 1200px) {

  .instagramtext{
    left: 80%;
  }

}

@media only screen and (max-width: 600px) {

  .instagramtext{
    left: 50%;
  }

}